<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="public/logo.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="public/app.css">

    <link rel="stylesheet" href="public/all.css">
    
    <title>covidia</title>
</head>
<body>
   
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-purple">
        <a class="navbar-brand" href="/">Covidia</a>
        <ul class="navbar-nav nav mr-auto justify-content-end collapse navbar-collapse">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/statistics">Statistik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/news">Berita Terkini</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light " href="/about">Tentang kami</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/support">Bantu Kami</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid my-container text-dark">
        <div class="container-fluid horizontal-center pt-2">

            <div class="row pt-5">
                <div class="col text-center">
                    <p class="lead font-lg">Covidia adalah platform yang menyediakan data dan berita terbaru mengenai covid-19</p>
                </div>
            </div>

            <div class="row mb-2 mt-3 my-purple">
                <h1 class="col bold text-center">
                    Sosial media
                </h1>
                <h1 class="col bold text-center">
                    kontak
                </h1>
            </div>

            <div class="row">
                <p class="col text-center font-lg">
                    <a href="https://www.instagram.com/covidia.id/" class="my-purple" target="_blank">
                        <i class="fab fa-instagram mr-2"></i>
                        covidia.id
                    </a>
                </p>
                <p class="col text-center my-purple
                my-purple font-lg">
                    081586267706
                </p>
            </div>

            <div class="row">
                <p class="col text-center font-lg">
                    <a href="https://twitter.com/covidia_id" class="my-purple" target="_blank">
                        <i class="fab fa-twitter-square mr-"></i>
                        Covidia ID
                    </a>
                </p>
                <p class="col text-center my-purple my-purple font-lg">
                    longwen.koesno@binus.ac.id
                </p>
            </div>

            <div class="row">
                <p class="col text-center font-lg">
                    <a href="https://www.facebook.com/Covidia-ID-103401121366728/" class="my-purple" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                        covidia_id
                    </a>
                </p>
                <p class="col">
                </p>
            </div>

            <div class="row mt-5">
                <div class="col"></div>
                <div class="col text-center">
                    website ini dibantu oleh :
                    <div class="row mt-2">
                        <div class="col"></div>
                        <div class="col">
                            <a href="https://newsapi.org/" class="my-purple" target="_blank">newsapi.org</a>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <a href="https://thevirustracker.com/" class="my-purple" target="_blank">thevirustracker.com</a>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="col"></div>

            </div>

        </div>
    </div>


    <footer class="page-footer font-small fixed-bottom bg-purple">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright
            <a href="/">covidia</a>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
    <script defer src="/public/all.js"></script> 

</body>
</html>



