<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="public/logo.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="public/app.css">

    <title>covidia</title>
</head>
<body>
   
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-purple">
        <a class="navbar-brand" href="/">Covidia</a>
        <ul class="navbar-nav nav mr-auto justify-content-end collapse navbar-collapse">
            <li class="nav-item active">
                <a class="nav-link text-light " href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/statistics">Statistik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/news">Berita Terkini</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about">Tentang kami</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/support">Bantu Kami</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid my-container vertical-center my-purple ">
        <div class="container-fluid">

            <h1 class="mb- text-center">
                <p class="bold headline">
                    Covidia
                </p>
            </h1>
    
            <div class="container-fluid italic">
                <div class="row">
                    <div class="col bold text-end"> 
                        <a href="/" class="my-purple">Beranda</a>
                    </div>
                    <div class="col-sm-1 bold"></div>
                    <div class="col bold">
                        <a href="/statistics" class="my-purple">Statistik</a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col bold text-end">
                        <a href="/news" class="my-purple">Berita Terkini</a>
                    </div>
                    <div class="col bold text-center">
                        <a href="/about" class="my-purple">Tentang kami</a>
                    </div>
                    <div class="col bold">
                        <a href="/support" class="my-purple">Bantu Kami</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="page-footer fixed-bottom font-small bg-purple">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright
            <a href="/">covidia</a>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
</body>
</html>



