<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="public/logo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="public/app.css">
    <link rel="stylesheet" href="public/home.css">

    <title>covidia</title>
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-purple">
        <a class="navbar-brand" href="/">Covidia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav" >
            <ul class="navbar-nav nav mr-auto justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link text-light " href="/">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/statistics">Statistik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/news">Berita Terkini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/about">Tentang kami</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/support">Bantu Kami</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="my-container">
        <section class="center">
            <div class="text-group">
                <div class="headline my-purple">
                    Covidia
                </div>
                <div class="grid-layout">
                    <div class="home-menu"> 
                        <a href="/" class="text-light">Beranda</a>
                    </div>
                    <div class="home-menu">
                        <a href="/statistics" class="text-light">Statistik</a>
                    </div>
                    <div class="home-menu">
                        <a href="/news" class="text-light">Berita Terkini</a>
                    </div>
                    <div class="home-menu ">
                        <a href="/about" class="text-light">Tentang kami</a>
                    </div>
                    <div class="home-menu">
                        <a href="/support" class="text-light">Bantu Kami</a>
                    </div>
                </div>
            </div >
            <div class="ilustration-group">
                <div class="covid-ilustration"></div>
                <a href="http://www.freepik.com" class="my-purple">Designed by pikisuperstar / Freepik</a>
            </div>
        </section>
    </main>


    <footer class="bg-purple">
		<h2>Follow our social media</h2>
		<div class="logo-group">
			<a href="https://www.facebook.com/Covidia-ID-103401121366728/" target="_blank" >
				<div class="media-logo facebook"></div>
			</a>
			<a href="https://www.instagram.com/covidia.id/" target="_blank" >
				<div class="media-logo instagram"></div>
			</a>
			<a href="https://twitter.com/covidia_id" target="_blank">
				<div class="media-logo twitter"></div>
			</a>
		</div>
		<div class="copyright">&copy Copyright covidia</div>
	</footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
</body>
</html>



