<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="public/logo.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="public/app.css">

    <title>covidia</title>
</head>
<body>
   
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark elegant-color">
        <a class="navbar-brand" href="/">Covidia</a>
        <ul class="navbar-nav nav mr-auto justify-content-end collapse navbar-collapse">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/statistics">Statistik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/news">Berita Terkini</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about">Tentang kami</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/support">Bantu Kami</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid my-purple text-light">
        <div class="container pt-5 pb-5">

            <div class="row my-2 mb-3">
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="firstCountry">Country</label>
                        </div>
                        <select class="custom-select" id="firstCountry">
                            <option value="1">Indonesia</option>
                            <option value="2">Global</option>
                            <option value="3">Italia</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-3">
                    <img src="/public/1.jpeg" alt="..." class="img-fluid">
                </div>
                <div class="col-9">
                    <div class="bold-1 mb-2">
                        Kasus terkonfirmasi Positif COVID-19 10.843, Pasien Sembuh Jadi 1.665
                    </div>
                    <p>
                        JAKARTA - Pemerintah Indonesia melalui Gugus Tugas Percepatan Penanganan COVID-19 mencatat jumlah kasus terkonfirmasi positif COVID-19 per hari ini Sabtu (2/5) menjadi 10.843 setelah ada penambahan 292 orang. Sedangkan pasien yang dinyatakan sembuh menjadi 1.665 setelah ada penambahan sebanyak 74 orang.
                    </p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-3">
                    <img src="/public/2.jpg" alt="..." class="img-fluid">
                </div>
                <div class="col-9">
                    <div class="bold-1 mb-2">
                        Infografis COVID-19
                    </div>
                    <p>
                        Untuk mendapatkan infografis dalam resolusi tinggi atau versi bahasa Inggris (English version), silakan kunjungi tautan berikut ini.
                    </p>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-3">
                    <img src="/public/3.jpeg" alt="..." class="img-fluid">
                </div>
                <div class="col-9">
                    <div class="bold-1 mb-2">
                        Inovasi Guru di Perbatasan Manfaatkan Radio Sebagai Media Belajar Mengajar
                    </div>
                    <p>
                        JAKARTA - Demi tetap menegakkan kegiatan belajar mengajar dari rumah sesuai anjuran pemerintah selama pandemi COVID-19, para guru Sekolah Dasar (SD) Kabupaten Sanggau, Kalimantan Barat yang berbatasan langsung dengan Malaysia memanfaatkan jaringan Radio Republik Indonesia (RRI) sebagai media pembelajaran karena keterbatasan jaringan internet di daerah itu.
                    </p>
                </div>
            </div>

        </div>
    </div>


    <footer class="page-footer font-small elegant-color">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright
            <a href="/">covidia</a>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
    <script src="/controllers/index.js"></script>
</body>
</html>



