<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="public/logo.png">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/css/mdb.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="public/app.css">

    <title>covidia</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm sticky-top navbar-dark elegant-color">
        <a class="navbar-brand" href="/">Covidia</a>
        <ul class="navbar-nav nav mr-auto justify-content-end collapse navbar-collapse">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/statistics">Statistik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/news">Berita Terkini</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about">Tentang kami</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/support">Bantu Kami</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid my-container my-purple text-light">
        <div class="container horizontal-center pt-5">

            <div class="row my-2 mb-3">
                <div class="col"></div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="firstCountry">Country</label>
                        </div>
                        <select class="custom-select" id="firstCountry">
                            <option value="1">Indonesia</option>
                            <option value="2">Global</option>
                            <option value="3">Italia</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="secondCountry">Country</label>
                        </div>
                        <select class="custom-select" id="secondCountry">
                            <option value="1">Global</option>
                            <option value="2">Indonesia</option>
                            <option value="3">Italia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col bold-1">
                    Terkonfirmasi
                </div>
                <div class="col text-end bold-1">
                    2.421
                </div>
                <div class="col text-end bold-1">
                    1.397.312
                </div>
            </div>
            <div class="row my-2">
                <div class="col bold-1">
                    Dalam Perawatan
                </div>
                <div class="col text-end bold-1">
                    2.090
                </div>
                <div class="col text-end bold-1">
                    1.017.866
                </div>
            </div>
            <div class="row my-2">
                <div class="col bold-1">
                    Sembuh
                </div>
                <div class="col text-end bold-1">
                    192
                </div>
                <div class="col text-end bold-1">
                    298.513
                </div>
            </div>
            <div class="row my-2">
                <div class="col bold-1">
                    Meninggal
                </div>
                <div class="col text-end bold-1">
                    209
                </div>
                <div class="col text-end bold-1">
                    80.933
                </div>
            </div>
            <div class="row my-2">
                <div class="col bold-1">
                    Rasio Kematian
                </div>
                <div class="col text-end bold-1">
                    8.4%
                </div>
                <div class="col text-end bold-1">
                    0.05%
                </div>
            </div>

        </div>
    </div>


    <footer class="page-footer font-small elegant-color">
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright
            <a href="/">covidia</a>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
    <script src="/controllers/index.js"></script>
</body>

</html>