body {
    font-family: 'Montserrat';
}

.bold{
    font-weight: 900;
    font-size: 3rem;
}

.bold-1{
    font-weight: 900;
    font-size: 1.5rem;
}

.font-lg{
    font-size: 2rem;
}

.italic{
    font-style: italic;
}

.headline{
    font-size: 8rem;
}

.text-end{
    text-align: right;
}

.my-purple{
    color: #993365;
}

a.my-purple:hover{
    color: #530229;
}

.my-container{
    height: 84.8vh;
}

.horizontal-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vertical-center{
    display: flex;
    align-items: center;
}

