body {
    font-family: 'Montserrat';
}

.bold{
    font-weight: 900;
    font-size: 3vw;
}

.home-menu{
    font-weight: 900;
    font-size: 1.75vw;
    width: 100%;
    padding: 1%;
    text-align: center;
    background-color: #993365;
    transition: 200ms;
    border-radius: 1.5rem;
}

.home-menu:hover{
    background-color: #530229;
    transition: 200ms;
   
}

.bold-1{
    font-weight: 900;
    font-size: 1.5rem;
}

.font-lg{
    font-size: 2rem;
}

.italic{
    font-style: italic;
}

.headline{
  
    font-size: 7.5rem;
    font-weight: bolder;
}

.text-end{
    text-align: right;
}

.align-center{
    text-align: center;
}

.my-purple{
    color: #993365;
    transition: 200ms;
}

.bg-purple{
    background-color: #993365;
    transition: 200ms;

}

a.my-purple:hover{
    color: #530229;
}

.my-container{
    min-height: 80vh;
    padding-top: 2%; 
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.horizontal-center{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.grid-layout {
    width: 100%;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-rows: auto;
}

.span-col{
    grid-row: 1 / auto;
}

.covid-ilustration{
    height: 100%;
    width: 100%;
    background-image: url("bkg.jpg");
    background-size: 100% 100%;
}

.ilustration-group > a{
    display: block;
    width: 100%;
    text-align: right;
}

.text-group{
    margin-left: 11%;
    height: 100%;
}

.ilustration-group{
    height: 500px;
    width: 800px;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


main > section {
    height: 100%;
}




.logo-group{
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-group > a{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 4%;
    margin-right: 4%;
}

.media-logo{
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(1);
    transition: 300ms;
    cursor: pointer;
    background-size: 100% 100%;
}

.media-logo:hover{
    -webkit-filter: grayscale(0);
    transition: 200ms;
}

.facebook{
    background-image: url("fb.png");
}

.instagram{
    background-image: url("ig.png");
}


.twitter{
    background-image: url("tw.png");
}


footer{
    font-family: 'Montserrat';
    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #212121;
    padding-left: 3%;
    padding-right: 3%;
    flex-direction: column;
}

footer > h2{
    font-size: 1.25rem;
}

.copyright{
    margin-bottom: 1%;
}


@media only screen and (max-width: 430px) {

    .headline{
        font-size: 5.25rem;
    }


    

    .home-menu{
        font-size: 1rem;
        width: 100%;
        padding: 1%;
        text-align: center;
        background-color: #993365;
        transition: 200ms;
        border-radius: 1.5rem;
    }


}

@media only screen and (max-width: 800px) {

    .logo-group > a{
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .media-logo{
        -webkit-filter: grayscale(0);
    }

}


@media only screen and (max-width: 1030px) {
    
    .ilustration-group{
        display: none;
    }

    .text-group{
        margin-left: 0;
        height: 100%;
    }

}
